              <nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top fadeInDown">
                <div class="container">

                <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                  <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
                    <li class="nav-item"><a class="nav-link" routerLink = '../main'>Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink = '../main'>Profile</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink = '../main'>Events</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink = '../main'>Championship</a></li>
                  </ul>
                </div>
                </div>   
              </nav>
