<nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top">
    <div class="container">

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
      <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
        <li class="nav-item"><a class="nav-link" routerLink = '../main'>Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink = '../profile' (click) = profile()>Profile</a></li>
        <li class="nav-item"><a class="nav-link" routerLink = '../events'>Events</a></li>
        <li class="nav-item"><a class="nav-link" routerLink = '../main'>Championship</a></li>
        <li class="nav-item"><a class="nav-link" (click) = logoff() routerLink = ''>Log off</a></li>
      </ul>
    </div>
    </div>   
  </nav>

<div class="container main-container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{currentUser.name}}</h4>
                      <button *ngIf="profileView" type="button" class="btn btn-dark" (click) = editProfile(currentUser.id)>Edit profile</button>
                    </div>
                    
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentUser.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">City</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{currentUser.city}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Sex</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{currentUser.gender}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Games</h6>
                      <p *ngFor="let game of currentUserGames" >{{game}}</p>
                      
                      
                    </div>
                  </div>
                </div>
                <div *ngIf="profileView" class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Joined Events</h6>
                      <p *ngFor="let event of currentUserEvents" >{{event.game}} / {{event.place}} / {{event.time}}</p>
                      
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
