<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nickname">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <a type="button" class="fadeIn fourth" value="Log In" id="loginButon" (click) = login() routerLink = '../main'>Login</a>
      <a type="button" class="fadeIn fourth" value="Register" id="registerButon" routerLink = '../register'>Register</a>
    </form>

    <div id="formFooter">
      <p>Login</p>
    </div>

  </div>
</div>